<ion-list *ngIf="(myProducts$ | async).length == 0">
  <ion-item>
    <ion-label class="text-center">
      <small>
        Sua adega está vazia
      </small>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list class="scroll-styles" *ngIf="(myProducts$ | async).length > 0">
  <ion-item>
    <ion-button slot="end" (click)="reset()" fill="clear" color="danger">
      <ion-icon slot="start" name="trash"></ion-icon>
      Limpar Adega Pessoal
    </ion-button>
  </ion-item>
  <ion-item class="card-vinho" *ngFor="let item of (myProducts$ | async) as myProducts">
    <ion-avatar slot="start">
      <img src="{{ item.fotos[0] }}">
    </ion-avatar>
    <ion-label class="ion-hide-down">
      <small>{{ item.nome }}</small><br>
      {{ item.preco | currency: 'BRL' }}
    </ion-label>
    <ion-badge color="gray badge-custom">{{ item.quantidadeCarrinho }}</ion-badge>
    <ion-badge color="success badge-custom" (click)="addQuantidadeCarrinho(myProducts, item)"> + </ion-badge>
    <ion-badge color="danger badge-custom" [ngClass]="item.quantidadeCarrinho <= 1 ? 'badge-disable' : ''" (click)="reduceQuantidadeCarrinho(myProducts, item)"> - </ion-badge>
    <ion-button slot="end" (click)="presentRemoveConfirm(item)" fill="clear" color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>