<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Adega de Vinho
        </ion-title>
        <ion-buttons slot="end">
            <ion-icon slot="start" name="cart"></ion-icon>
            <ion-menu-button>
                <ion-badge color="danger" *ngIf="(myProducts$ | async) as myProducts">{{ countMyProducts(myProducts) }}</ion-badge>
            </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>