<div class="ion-padding custom-skeleton" *ngIf="!(products$ | async)">
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</div>

<ion-grid *ngIf="(products$ | async)">
  <ion-row class="col-8 col-md-7 col-lg-6" class="scroll-styles">
    <ion-col size="3" *ngFor="let product of (products$ | async)">
      <ion-card class="card-vinho">
        <ion-card-header>
          <ion-card-title class="title-vinho">{{ product.nome }}</ion-card-title>
          <ion-img [src]="product.fotos[0]"></ion-img>
          <h3>{{ product.preco | currency: 'BRL' }}</h3>
        </ion-card-header>

        <ion-card-content>
          <img src="{{ product.fotos[0] }}" alt="">
          {{ product.descricao }}
        </ion-card-content>

        <ion-item href="#" class="bg-color-green" (click)="add(product)">
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>Adicionar</ion-label>
        </ion-item>

        <ion-item href="#" class="bg-color-orange" (click)="loadEdit(product)">
          <ion-icon name="create" slot="start"></ion-icon>
          <ion-label>Edit</ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>