<form [formGroup]="todoForm">
  <ion-grid>
    <ion-row *ngIf="showEdit$ | async as showedit" class="col-8 col-md-7 col-lg-6" class="scroll-styles">
      <ion-col size="3">
        <ion-card class="card-vinho">
          <ion-card-header>
            <ion-item href="#" class="bg-color-red eye-disable" (click)="clearEdit()">
              <ion-icon name="eye-off" slot="start"></ion-icon>
            </ion-item>
            <ion-card-title class="title-vinho">Editar Vinho</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-label>Nome:</ion-label>            
            <ion-input class="form-control" formControlName="nome" placeholder="Digite o nome do vinho"></ion-input>
            <ion-label>Descrição:</ion-label>
            <ion-input class="form-control" formControlName="descricao" placeholder="Digite a descrição do vinho"></ion-input>
          </ion-card-content>

          <ion-item href="#" class="bg-color-orange" (click)="edit(todoForm.value)">
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-label>Editar</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
